<html>
    <head>
        <title>Frog's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Roman Walley's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 19.08.2020, 14:10</p>
            <h2><a href="">My first post</a></h2>
            <p>阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴.</p>
        </div>

        <div>
            <p>published: 19.08.2020, 14:10</p>
            <h2><a href="">My second post</a></h2>
            <p>R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R8R.</p>
        <div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>